{% extends 'baskin/base.html' %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<!-- <div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Frequently Asked Questions</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Residential</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Frequently Asked Questions</a></li>
            </ol>
        </nav>
    </div>
</div> -->
<!-- Page Header End -->


<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="text-primary" id="faq-heading">Frequently Asked Questions</h1>
        </div>
        <h2 id="que">What exactly is solar energy?</h2>
        <p id="cls">Solar energy is defined as the energy obtained from the sun and turned into thermal or electrical
            energy. Solar energy is a clean, renewable source of energy. When sunlight strikes a
            photovoltaic cell, it creates electricity via an electrical process and stores it in batteries via a
            chemical process.</p>

        <h2 id="que"> What is the primary significance of the Solar System?</h2>
        <p id="cls">The sun sustains all life on Earth. By fusing hydrogen into helium at its core, this wonderful
            resource radiates energy and supplies us with both heat and light. This is referred to as solar
            radiation.</p>

        <h2 id="que">How is solar energy useful in modern life?</h2>
        <p id="cls">Solar energy may be utilised to prepare meals using solar cookers. With the help of a
            solar still, it may also be utilised to transform salty water into drinking water. Finally,
            solar energy may be turned into electrical energy and used to power a variety of devices
            using a photovoltaic cell.</p>

        <h2 id="que">What is the cheapest energy source?</h2>
        <p id="cls">Solar energy: The analysis follows the International Energy Agency&#39;s (IEA) World
            Energy Outlook 2020 finding that solar power is currently the cheapest energy in
            history. According to studies, solar technology is less expensive than coal and gas in
            the majority of large countries.</p>

        <h2 id="que">Why are people switching to solar?</h2>
        <p id="cls">Solar energy is environmentally friendly, renewable, and abundant.
            As the cost of utilising solar to generate power decreases year after year, more
            Americans are moving to solar. Over a million solar systems have already been
            installed across the country.</p>

        <h2 id="que">How Do Solar Panels on Your House Work?</h2>
        <p id="cls">Solar panels on your home generate direct current by converting photons from the sun.
            This current is then fed into your inverter.
            Subsequently, your inverter converts the direct current to alternating current and
            transmits it to your electric box to power your house.</p>

        <h2 id="que">How clean is solar energy?</h2>
        <p id="cls">When running, solar energy systems and power plants cause no air pollution or
            greenhouse gases. When solar energy replaces or lessens the usage of other energy
            sources with higher environmental impacts, it can have a beneficial, indirect influence
            on the environment.</p>

        <h2 id="que">Is it possible to power a whole house using solar panels?</h2>
        <p id="cls">Myth vs. Fact: The answer is actually fairly simple: yes, solar can power your whole
            house.</p>

        <h2 id="que">Can solar energy power an air conditioner?</h2>
        <p id="cls">You Can Run an Air Conditioner on Stored Solar Power if: While proper design and
            sizing are crucial for any solar PV system, when utilising solar energy to power your air
            conditioner, you need have enough energy available to support the hottest days of the
            year.</p>

        <h2 id="que">How long do solar panels on a house last?</h2>
        <p id="cls">Solar panels, usually referred to as photovoltaic or PV panels, are designed to endure
            for more than 25 years. Many solar panels placed as early as the 1980s are still
            operating at full capacity. Solar panels are not only extremely dependable, but their
            durability has risen substantially over the last 20 years.</p>

        <h2 id="que">How long will it take to install?</h2>
        <p id="cls">A professional installation for a house normally takes two to three days. Consult your
            solar installer for business installations.</p>

        <h2 id="que">Do solar panels function when the power goes out?</h2>
        <p id="cls">Solar panels put on your roof or land will continue to create electricity during power
            failures, just like they do every day, because the panels capture sunlight and solar
            energy and have a battery backup.</p>

        <h2 id="que">Do solar panels make your house hotter?</h2>
        <p id="cls">According to a study done by experts at the UC San Diego Jacobs School of
            Engineering, solar panels lowered the amount of heat hitting the roof by 38%, keeping a
            building&#39;s roof 5 degrees cooler than areas of a roof directly exposed to sunlight.</p>

        <h2 id="que">How long does it take for solar panels to pay for themselves?</h2>
        <p id="cls">The average payback period for solar panels is estimated to be six to 10 years. This is a
            rather broad range since several factors determine the number of years it will take to
            pay off your panels and the monthly savings you may expect.</p>

        <h2 id="que">Why is solar energy beneficial?</h2>
        <p id="cls">It is a safer, greener, and more cost-effective option. Furthermore, it can be renewed,
            making it a renewable source of energy. As a consequence, it does not pollute the
            environment. As a result, we must attempt to use solar energy more and more in
            attempt to save our world.</p>

        <h2 id="que">What exactly is net metering?</h2>
        <p id="cls">If your solar energy system is grid-connected to your electric provider and generates
            more electricity than the property needs at any one time, the excess power will go to the
            electric provider. Over the course of a month, if a solar energy system transmits more
            electricity into the grid than the residence consumes, the difference, or net, will result in
            a credit decided by the electric provider. Net metering &quot;credits&quot; might be as low as the
            utility&#39;s base rate for wholesale electricity or as high as the retail rate you pay as a
            customer. Net metering is not yet available from all power companies. Contact your
            energy provider (or providers if you reside in a deregulated region).</p>

        <h2 id="que">Can I expand the size of my system later?</h2>
        <p id="cls">Yes, as long as you have enough unshaded space and roof area to accommodate
            additional panels.</p>

        <h2 id="que">Do solar panels prolong the life of a roof?</h2>
        <p id="cls">Solar panels are an excellent technique to help extend the life and general worth of your
            roof since they help prevent harsh elements from confronting the roof, even if they do
            not always cover all portions of the roof when properly placed by a professional.</p>

        <h2 id="que">What happens when you pay off your solar panels?</h2>
        <p id="cls">When you pay off your debt or purchase your system altogether, you will effectively be
            receiving free energy. When it comes to payment, consumers who use solar energy will
            continue to get a monthly utility charge. This will indicate how much energy you
            generated vs how much energy you consumed over the month.</p>

        <h2>Do solar panels work during winter?</h2>
        <p id="cls">Solar panels convert sunshine into power even in subzero temperatures. This is
            because solar panels gather energy from our sun&#39;s plentiful light rather than the sun&#39;s
            heat. In fact, chilly temperatures are ideal for solar panel efficiency. A solar panel will
            generate power as long as sunshine strikes it.</p>

        <h2>Do solar panels operate when it rains?</h2>
        <p id="cls">When it rains, the solar panels continue to produce power due to the force of the rain
            falling on their surface. Rainy days receive 90% less sunshine than bright days. When
            there is less sunlight, the solar cells equally generate less power.</p>

        <h2>Do solar panels work with Moonlight?</h2>
        <p id="cls">Do solar panels function in the presence of moonlight?
            Given that moonlight is just sunlight reflected off the moon, you&#39;ll be glad to learn that
            the answer is yes: solar panels can operate with moonlight.</p>

        <h2>Can Neighbors object to solar panels?</h2>
        <p id="cls">What are their options? If your installation is approved development or has planning
            clearance, your neighbours have little legal options.</p>

        <h2>Should solar panels face east or west?</h2>
        <p id="cls">Overall, the preferred direction for solar panels to face is SOUTH. In almost all
            circumstances, positioning your solar panels south will lead to the biggest savings on
            your power bill and the shortest payback period.</p>

        <h2>Do solar panels affect house prices?</h2>
        <p id="cls">We discovered that adding solar panels on your home has no negative influence on its
            value. Solar panels enhanced house value, according to 8% of estate agents polled in
            this study.</p>

        <h2>Is solar power functional at night?</h2>
        <p id="cls">In a nutshell, the answer is yes. The sun&#39;s energy is caught and stored in your system,
            allowing it to be used when the sun goes down.</p>

        <h2>Can solar panels be removed?</h2>
        <p id="cls">To complete the job safely, any solar installation or solar firm may remove panels for
            you. Moreover, installers and solar firms will have insurance that will cover any damage
            caused by an accident.</p>

        <h2>Can solar panels cause health issues?</h2>
        <p id="cls">Electricity from solar panels and transmission to the power grid creates extremely weak
            electromagnetic waves. According to the World Health Organization, there is no
            evidence that low-level electromagnetic field exposure is hazardous to human health
            (WHO).</p>

        <h2>Is it difficult to sell a house with solar panels?</h2>
        <p id="cls">Fortunately, selling a property with solar panels is not as tough as many people believe;
            you simply need to understand what buyers want and be aware of the potential
            problems. In many circumstances, placing solar panels on your property raises its value
            and makes it more appealing to purchasers.</p>

        <h2>Why are my solar panels not saving me money?</h2>
        <p id="cls">If your solar panels aren&#39;t lowering your bills, it might be because: your system
            generates less power than you need. You are consuming too much power at night when
            the panels are not producing it. Too many appliances or gadgets are plugged in.</p>

        <h2>Will I still receive an electric bill if I have solar panels?</h2>
        <p id="cls">Do you still have an electric bill after installing solar panels? To summarise, after
            installing solar panels, you will still receive an electric bill.
            However, It is important to understand that the statement may not require you to pay
            anything and may just display how your consumption for the month was offset by net
            metering credits.</p>

        <h2>Does hail damage solar panels?</h2>
        <p id="cls">We exclusively employ high-quality solar panels that are very resistant to hail damage.
            Solar panel manufacturers test their panels to survive hailstones with a diameter of up
            to 25 mm (1 inch). While your actual roof is vulnerable to hailstones of all sizes.</p>

        <h2>Is the solar tax credit a onetime credit?</h2>
        <p id="cls">The solar tax credit may only be claimed once.</p>

        <h2>Does solar work in cloudy weather?</h2>
        <p id="cls">Solar panels will continue to function even if light is reflected or partially covered by
            clouds. Rain actually helps your panels run more effectively by wiping away dust and
            dirt.</p>

        <h2>Does solar work in the winter?</h2>
        <p id="cls">The lengthier answer is that solar panels do operate in winter weather, albeit their
            production is sometimes lower than it is in summer since days are shorter and snow can
            temporarily restrict output.</p>

        <h2>Do solar panels work better in summer or winter?</h2>
        <p id="cls">To people who have just started, solar panels are more efficient during the mild winter
            months since the cool temperature allows for a more equal flow of power from your
            panels into your home. Similarly, cooler weather keeps your panels cool, which extends
            their lifespan and durability.</p>

        <h2>Can I power my house solely with solar panels?</h2>
        <p id="cls">SYou can absolutely operate a full house entirely on solar power with a contemporary
            solar energy system that includes power storage. Today&#39;s high-efficiency solar panels
            and solar batteries make it more affordable than ever to power a whole home solely with
            solar energy.</p>

        <h2>Can wind damage solar panels?</h2>
        <p id="cls">Regardless of brand, style, form, or material, all solar panels are designed to endure
            severe winds to some extent. Most solar panels can endure gusts of up to 140 mph, or
            around 2,400 pascals (the unit in which solar panel wind resistance is measured).</p>

        <h2>What happens at night with solar panels?</h2>
        <p id="cls">Solar panels charge your batteries using solar energy. So you have power saved for
            future use. Your battery runs all night on the accumulated solar energy.</p>

        <h2>What happens when it snows on solar panels?</h2>
        <p id="cls">A little coating of snow has minimal effect on solar panels since it is readily blown away
            by the wind. Light can forward scatter via a scant covering, reaching the panel and
            generating power. It’s a different situation when heavy snow falls and prohibits PV
            panels from producing power.</p>

        <h2>Does solar panel work in rainy season?</h2>
        <p id="cls">Without a doubt. Solar panels generate 30% to 50% of their maximum output during
            cloudy weather and 10% to 20% of their maximum output during heavy rain.</p>

        <h2>What type of maintenance is required in solar system?</h2>
        <p id="cls">Cleaning and an annual inspection are the only regular maintenance requirements for
            your solar panels. Otherwise, as long as your panels are in good working order, they will
            not require any more maintenance throughout the year.</p>

        <h2>How often do solar panels need to be cleaned?</h2>
        <p id="cls">So, a reasonable thumb rule is to schedule a cleaning at least every six months, and
            potentially more frequently if you believe the panels are continuously becoming dirty. If
            there isn&#39;t much of an issue, one cleaning every nine months should enough.</p>

        <h2>What side of roof do solar panels go on?</h2>
        <p id="cls">A solar panel should preferably face true SOUTH in order to generate the greatest
            electricity. Roofs facing south-west and south-east are likewise said to be extremely
            effective.</p>

        <h2>Do solar farms hurt the environment?</h2>
        <p id="cls">Unlike fossil fuels such as coal, generating energy from renewable sources such as
            solar power produces no detrimental emissions to human health or the environment.</p>

        <h2>Why is solar energy important for the future?</h2>
        <p id="cls">For billions of years, the sun has provided energy. It is the most significant source of
            energy for all living things. It is a renewable energy source, as opposed to non-
            renewable sources such as fossil fuels. Solar energy systems use the sun&#39;s energy to
            illuminate homes, heat homes, and generate power.</p>

        <h2>Is solar energy important in our life?</h2>
        <p id="cls">The planet would be a rock without life if the sun did not exist. Apart from water and
            food, the relevance of solar energy in our everyday lives is greater than any other. Solar
            energy is becoming more popular as a sustainable and alternative energy source.</p>

        <h2>Is solar energy the future?</h2>
        <p id="cls">Photovoltaics (PV) and concentrated solar power are expected to increase quickly in the
            coming years; according to the National Renewable Energy Laboratory (NREL), solar
            energy might generate 45% of electricity in the United States by 2050 if the energy
            system is fully decarbonized.</p>

        <h2>Can solar panels be recycled?</h2>
        <p id="cls">Solar panels are 90% recyclable in bulk. When these components reach the end of their
            useful life, they can be reused, repaired, or upcycled, and finally recycled. Solar power
            systems are made of recyclable materials such as copper (cabling), aluminium
            (racking), steel (posts), glass, and electronic components.</p>

        <h2>How Fast Is Solar Growing?</h2>
        <p id="cls">Over the last decade, American solar jobs have expanded 167%, which is five times
            faster than the general job growth rate in the United States. There are around 250,000
            solar employees in the United States, working in industries including as manufacture,
            installation, project development, commerce, distribution, and more.</p>

        <h2>The solar market today:</h2>
        <p id="cls">In the United States, more than 126 gigatonnes (GW) of solar energy has been
            installed, enough to power 22 million households. Over the previous decade, the solar
            market in the United States has risen at a 33% annual pace. In the United States, there
            are over 3 million unique solar installations, ranging from modest house rooftop systems
            to big utility-scale systems that provide hundreds of megawatts of renewable energy to
            the power grid.</p>
    </div>
</div>
</div>
<!-- Team End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

{% endblock content %}