{% extends 'baskin/base.html' %}
{% load static %}
{% block content %}


<!-- About Start -->



<h1 class="text-primary" id="gogreen-heading">GO GREEN PROCESS:</h1>
<div class="gogreen-container">
    <div class="gogreen-items">
        <img class="gogreen" src="{% static 'img/survey.png' %}" alt="">
        <div class="gogreen-heading">
            <!-- <h5 >Site Survey:&emsp;</h5> -->
            <!-- <h5 >Survey:</h5> -->
            <h5 id="gogreen-h5">Site</h5>
            <h5>Survey:</h5>
        </div>
        <div class="gogreen-content">
            <ps>An expert SOLAR Site Technician will visit to measure, review and finalize the plans we
                initially discussed. Just show them in and get back to your day.</p>
        </div>

    </div>
    <div class="gogreen-items">
        <img class="gogreen" src="{% static 'img/review.png' %}" alt="">
        <div class="gogreen-heading">
            <h5 >Design Review:</h5>
        </div>
        <div class="gogreen-content">
            <p class="gogreen-p">We follow-up to review any tweaks or changes to our initial plan and make sure
                you&#39;re happy
                with the result.</p>
        </div>
    </div>
    <div class="gogreen-items">
        <img class="gogreen" src="{% static 'img/permission.png' %}" alt="">
        <div class="gogreen-heading">
            <h5>Permitting:</h5>
        </div>
        <div class="gogreen-content">
            <p class="gogreen-p">We&#39;ll handle the permitting and paperwork with the city. We&#39;ll let you
                know when everything is
                good to go.</p>
        </div>
    </div>
    <div class="gogreen-items">
        <img class="gogreen" src="{% static 'img/fix.png' %}" alt="">
        <div class="gogreen-heading">
            <h5 id="gogreen-h5">Installation:</h5>
        </div>
        <div class="gogreen-content">
            <p class="gogreen-p">Your roof gets an upgrade! The average install will take about a day, but you
                just need to be there to let us in.</p>
        </div>
    </div>
    <div class="gogreen-items">
        <img class="gogreen" src="{% static 'img/inspect.png' %}" alt="">
        <div class="gogreen-heading">
            <h5 id="gogreen-h5">City</h5>
            <h5>Inspection:</h5>
        </div>
        <div class="gogreen-content">
            <p class="gogreen-p">Once your system is installed, we&#39;ll schedule the inspection with the
                city. A representative will stop by to ensure the new system is up to code.</p>
        </div>
    </div>
    <div class="gogreen-items">
        <img class="gogreen" src="{% static 'img/connect.png' %}" alt="">
        <div class="gogreen-heading">
            <h5 id="gogreen-h5">Utility</h5>
            <h5>Connection:</h5>
        </div>
        <div class="gogreen-content">
            <p class="gogreen-p">We&#39;ll work with your utility to get everything connected. The utility will
                connect your system
                to the grid and may need to install a new meter.</p>
        </div>
    </div>
    <div class="gogreen-items">
        <img class="gogreen" src="{% static 'img/on.png' %}" alt="">
        <div class="gogreen-heading">
            <h5 id="gogreen-h5">Green Energy ON:</h5>
        </div>
        <div class="gogreen-content">
            <p class="gogreen-p">Flip the switch, sit back and put the SUN to work for you!</p>
        </div>
    </div>
</div>


<!-- About End -->

{% endblock content %}