{% extends 'baskin/base.html' %}
{% load static %}
{% block content %}

<!-- {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %} -->

<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative" data-dot="<img src={% static 'img/carousel-9.jpg' %}>">
            <img class="img-fluid" src="{% static 'img/carousel-9.jpg' %}" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown">Solarize every Watt</h1>
                            <!-- <p class="fs-5 fw-medium text-white mb-4 pb-3">Vero elitr justo clita lorem. Ipsum dolor
                                at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea
                                elitr.</p> -->
                            <a href="{% url 'register' %}"
                                class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative" data-dot="<img src={% static 'img/carousel-14.jpg' %}>">
            <img class="img-fluid" src="{% static 'img/carousel-14.jpg' %}" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown">Solarize every Watt</h1>
                            <!-- <p class="fs-5 fw-medium text-white mb-4 pb-3">Vero elitr justo clita lorem. Ipsum dolor
                                at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea
                                elitr.</p> -->
                            <a href="{% url 'register' %}"
                                class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative" data-dot="<img src={% static 'img/carousel-6.jpg' %}>">
            <img class="img-fluid" src="{% static 'img/carousel-6.jpg' %}" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown">Solarize every Watt</h1>
                            <!-- <p class="fs-5 fw-medium text-white mb-4 pb-3">Vero elitr justo clita lorem. Ipsum dolor
                                at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea
                                elitr.</p> -->
                            <a href="{% url 'register' %}"
                                class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->


<!-- Feature Start -->
<!-- <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex align-items-center mb-4">
                    <div class="btn-lg-square bg-primary rounded-circle me-3">
                        <i class="fa fa-users text-white"></i>
                    </div>
                    <h1 class="mb-0" data-toggle="counter-up">3453</h1>
                </div>
                <h5 class="mb-3">Happy Customers</h5>
                <span>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit</span>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <div class="d-flex align-items-center mb-4">
                    <div class="btn-lg-square bg-primary rounded-circle me-3">
                        <i class="fa fa-check text-white"></i>
                    </div>
                    <h1 class="mb-0" data-toggle="counter-up">4234</h1>
                </div>
                <h5 class="mb-3">Project Done</h5>
                <span>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit</span>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <div class="d-flex align-items-center mb-4">
                    <div class="btn-lg-square bg-primary rounded-circle me-3">
                        <i class="fa fa-award text-white"></i>
                    </div>
                    <h1 class="mb-0" data-toggle="counter-up">3123</h1>
                </div>
                <h5 class="mb-3">Awards Win</h5>
                <span>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit</span>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="d-flex align-items-center mb-4">
                    <div class="btn-lg-square bg-primary rounded-circle me-3">
                        <i class="fa fa-users-cog text-white"></i>
                    </div>
                    <h1 class="mb-0" data-toggle="counter-up">1831</h1>
                </div>
                <h5 class="mb-3">Expert Workers</h5>
                <span>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit</span>
            </div>
        </div>
    </div>
</div> -->
<!-- Feature Start -->

<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/carousel-10.jpg' %}"
                        style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 pe-lg-0">
                    <h6 class="text-primary">About Us</h6>
                    <h1 class="mb-4">With Baskin Solar system you get</h1>
                    <!-- <p>Being self-sufficient and sustainable is an appealing concept which most American homeowners
                            would love the opportunity to achieve, but at what cost?</p> -->
                    <p id="cls"><i class="fa fa-check-circle text-primary me-3"></i>Expert honest advice with a genuine
                        care
                        for its clients.</p>
                    <p id="cls"><i class="fa fa-check-circle text-primary me-3"></i>Realistic system performance and
                        savings
                        estimates.</p>
                    <p id="cls"><i class="fa fa-check-circle text-primary me-3"></i>Proven reliable and high performing
                        products.</p>
                    <p id="cls"><i class="fa fa-check-circle text-primary me-3"></i>25-year life expectancy of panels.
                    </p>
                    <p id="cls"><i class="fa fa-check-circle text-primary me-3"></i>System set up support.</p>
                    <p id="cls"><i class="fa fa-check-circle text-primary me-3"></i>Industry leading customer services.
                    </p>
                    <p id="cls"><i class="fa fa-check-circle text-primary me-3"></i>Attention to detail with quality
                        workmanship and tidy conduit and internal cable runs
                        wherever possible.</p>
                    <!-- <p>*Subject to approval and energy retailer agreement.</p> -->
                    <!-- <p>**Estimates only. BASKINSOLAR can’t guarantee savings due to variations in power prices and feed
                            in rates/approvals amongst other factors.</p> -->
                    <!-- <a href="" class="btn btn-primary rounded-pill py-3 px-5 mt-3">Learn More</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-primary">Our Services</h6>
            <h1 class="mb-4">Know more about our services</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/forHome.jpg' %}" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-solar-panel fa-3x"></i>
                        </div>
                        <h4 class="mb-3">Solar for Home</h4>
                        <p id="cls">Tired of paying high electric bills for your home? We can make you reduce these
                            expenses.</p>
                        <a class="small fw-medium" href="{% url 'residential' %}">Know How<i
                                class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/business.jpg' %}" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-solar-panel fa-3x"></i>
                        </div>
                        <h4 class="mb-3">Solar for Business</h4>
                        <p id="cls">Wanna Solarize your Business? We could do this effortlessly for you.</p>
                        <br>
                        <a class="small fw-medium" href="{% url 'commercial' %}">know How<i
                                class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/carousel-11.jpg' %}" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-solar-panel fa-3x"></i>
                        </div>
                        <h4 class="mb-3">Why Solar?</h4>
                        <p id="cls">What’s all this Solar Hype about? You need to know this before you jump in to the
                            Solar Bandwagon</p>
                        <a class="small fw-medium" href="{% url 'whysolar' %}">Know More<i
                                class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/contact-3.jpg' %}" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-lightbulb fa-3x"></i>
                        </div>
                        <h4 class="mb-3">Solar Process</h4>
                        <p id="cls">Wanna know how we do this? Wanna know talk to us?.</p>
                        <a class="small fw-medium" href="{% url 'contact' %}">Learn more<i
                                class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/roofing.jpg' %}" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-lightbulb fa-3x"></i>
                        </div>
                        <h4 class="mb-3">Services</h4>
                        <p id="cls"> Curious to know about what we do here at BaskinSolar?</p>
                        <!-- <br> -->
                        <a class="small fw-medium" href="{% url 'services' %}">Know More<i
                                class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="{% static 'img/contact-1.jpg' %}" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <i class="fa fa-lightbulb fa-3x"></i>
                        </div>
                        <h4 class="mb-3">FAQ</h4>
                        <p id="cls"> We already have the most asked questions answered for you.</p>
                        <!-- <p id="cls">We already have the most asked questions answered for you.</p> -->
                        <a class="small fw-medium" href="{% url 'faq' %}">Read More<i
                                class="fa fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Service End -->


<!-- Feature Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="p-lg-5 ps-lg-0">
                    <h6 class="text-primary">Why Choose Us!</h6>
                    <h1 class="mb-4">Complete Residential & Commercial Solar Systems</h1>
                    <p class="mb-4 pb-2" id="cls">We, at Baskin Solar, tailor premium products at affordable prices to make it
                        your best investment for your home. Our experts give you obligation-free advice and help you
                        make the right choice.</p>
                    <div class="row g-4">
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="btn-lg-square bg-primary rounded-circle">
                                    <i class="fa fa-check text-white"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-0">Quality</p>
                                    <h5 class="mb-0">Services</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="btn-lg-square bg-primary rounded-circle">
                                    <i class="fa fa-user-check text-white"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-0">Realistic</p>
                                    <h5 class="mb-0">Performance</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="btn-lg-square bg-primary rounded-circle">
                                    <i class="fa fa-drafting-compass text-white"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-0">Free</p>
                                    <h5 class="mb-0">Consultation</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="btn-lg-square bg-primary rounded-circle">
                                    <i class="fa fa-headphones text-white"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-0">Customer</p>
                                    <h5 class="mb-0">Support</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/carousel-9.jpg' %}"
                        style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->

{% endblock content %}