{% extends 'baskin/base.html' %}
{% load static %}
{% block content %}


<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/forhome.jpg' %}"
                        style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                
                <div class="p-lg-5 pe-lg-0" id="paragraph-content">
                    <h1 class="text-primary">SOLAR FOR HOME</h1>
                    <h4>Ever wondered if you could be a Self-reliant American Homeowner who contributes to a
                        Greener World?</h4>
                    <hr>
                    <p id="cls">While the world talks about how they could reduce their carbon footprint, they have been
                        accustomed to the thought that this would involve a tedious process that would disturb their
                        financial balance. This is the myth that BASKINSOLAR is here to bust/put an end to.</p>

                    <p id="cls">Reducing our Residential energy costs is something that all of us dream of and no better
                        place than Texas where you could harness the power of Solar Energy and guess what?
                        Your roof could reduce your energy bills for you.
                        Yes, you heard it right! Your Roof when equipped with the right kind of solar system can
                        save you plenty of bucks and give you a guilt-free power consumption experience.</p>
                    
                    <p id="cls">We, at BASKINSOLAR, tailor premium products at affordable prices to make it your best
                        investment for your home. Our experts give you obligation-free advice and help you make
                        the right choice. Fill out the form below to help BASKINSOLAR experts get in touch with you
                        and convert your house into a Super Solar Home.</p>
                </div>
                <div id="main-btn">
                    <a href="{% url 'register' %}"
                        class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">Register Here</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{% endblock content %}